*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    background-color: #E5E5E5;
    position: fixed;
}
ul{
    display: flex;
    text-align: center;
    justify-content: right;
    align-items: end;
    gap: 33px;
    padding-right: 80px;
    padding-top: 35px;
    padding-bottom: 30px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
font-weight: 500;
font-size: 20px;
line-height: 29px;
color: #000000;
}
a:hover{
    cursor: pointer;
    color: #FFFFFF;
}
.section__1{
    width: 100%;
}
.section__1-box{
    display: flex;
    padding-top: 150px;
    padding-left: 200px;
}
.section__1-box-item1 h1{
    font-family: 'Heebo';
font-style: normal;
font-weight: 700;
font-size: 44px;
line-height: 60px;
color: #21243D;
width: 506px;
}
.section__1-box-item1 p{
    font-family: 'Heebo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #21243D;
padding-top: 40px;
width: 497px;
}
.section__1-box-item1 button{
    width: 208px;
height: 47px;
background-color: #FF6464;
border-radius: 2px;
margin-top: 38px;
border: none;
font-family: 'Heebo';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 29px;
color: #FFFFFF;
cursor: pointer;
}
.section__1-box-item1 button:hover{
    color: black;
}
.section__1-box-item2{
    padding-left: 255px;
}
.section__2{
    background-color:#EDF7FA; 
    width: 100%;
    margin-top: 71px;
}
.section__2-spans{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 258px;
    gap: 800px;
}
.section__2-spans .span1{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
    color: #21243D;
}
.section__2-spans .span2{
    font-family: 'Heebo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: right;
color: #00A8CC;
padding-top: 20px;
}
.span2:hover{
    cursor: pointer;
    color: black;
}
.section__2-box{
    display: flex;
    gap: 60px;
    padding-left: 200px;
    padding-right: 258px;
    padding-bottom: 30px;
}
.section__2-box-item1{
    width: 518px;
height: 295px;
background-color: #FFFFFF;
box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
border-radius: 4px;
}
.section__2-box-item1{
    width: 518px;
height: 295px;
background-color: #FFFFFF;
box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
border-radius: 4px;
}
.section__2-box-item1 h1{
    font-family: 'Heebo';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 38px;
color: #21243D;
padding-top: 24px;
padding-left: 28px;
width: 400px;
}
.section__2-box-spans{
    display: flex;
    padding-top: 17px;
    padding-left: 28px;
    gap: 54px;
}
.section__2-box-spans .span1{
    font-family: 'Heebo';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;
color: #21243D;
}
.section__2-box-spans .span2{
    font-family: 'Heebo';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;
color: #21243D;
}
.section__2-box-item1 p{
    font-family: 'Heebo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #21243D;
padding-top: 31px;
padding-left: 28px;
width: 410px;
padding-bottom: 7px;
}
.section__3{
    width: 100%;
}
.section__3 h1{
    font-family: 'Heebo';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 60px;
color: #21243D;
padding-top: 15px;
padding-left: 200px;
}
.section__3-items{
    display: flex;
    flex-direction: column;
    padding-left: 200px;
    padding-top: 20px;
    gap: 46px;
    margin-bottom: 134px;
}
.section__3-items-box{
    width: 858px;
    display: flex;
    padding-bottom: 15px;
    border-bottom: 1px solid #E0E0E0;
}
.section__3-items-box2{
    width: 858px;
    display: flex;
    padding-bottom: 15px;
    border-bottom: 1px solid #E0E0E0;
}
.section__3-items-box3{
    width: 858px;
    display: flex;
    padding-bottom: 15px;
    border-bottom: 1px solid #E0E0E0;
}
.section__3-items-box h1{
    font-family: 'Heebo';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 44px;
color: #21243D;
padding-left: 18px;
}
.section__3-items-box2 h1{
    font-family: 'Heebo';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 44px;
color: #21243D;
padding-left: 18px;
}
.section__3-items-box3 h1{
    font-family: 'Heebo';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 44px;
color: #21243D;
padding-left: 18px;
}
.section3-spans{
    display: flex;
    padding-left: 18px;
    padding-top: 16px;
    gap: 26px;
}
.section3-spans .span1{
    width: 62px;
height: 25px;
background: #142850;
border-radius: 16px;
font-family: 'Heebo';
font-style: normal;
font-size: 15px;
line-height: 30px;
color: #FFFFFF;
text-align: center;
}
.section3-spans .span2{
    font-family: 'Heebo';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 29px;
color: #8695A4;
}
.section__3-items-box p{
    width: 594px;
font-family: 'Heebo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #21243D;
padding-left: 18px;
}
.section__3-items-box2 p{
    width: 594px;
font-family: 'Heebo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #21243D;
padding-left: 18px;
}
.section__3-items-box3 p{
    width: 594px;
font-family: 'Heebo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #21243D;
padding-left: 18px;
}
footer{
    width: 100%;
}
.footer-icons{
    display: flex;
    padding-top: 134px;
    align-items: center;
    justify-content: center;
    gap: 35px;
}
footer h1{
    font-family: 'Heebo';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
text-align: center;
color: #21243D;
padding-top: 26px;
padding-bottom: 54px;
}
@media ( max-width: 447px ) {
    header{
        width: 100%;
    }
    ul{
        display: block;
    }  
    li{
        display: none;
    }
    header img{
    padding-top: 40px;
    padding-left: 40px;
    }
    .section__1{
        width: 100%;
    }
    .section__1-box{
        display: flex;
        flex-direction: column-reverse;
        padding-top: 100px;
        padding-left: 45px;
    }
    .section__1-box-item1 h1{
    font-size: 32px;
    width: 312px;
    padding-top: 32px;
    padding-left: 43px;
    }
    .section__1-box-item1 p{
    padding-left: 23px;
    padding-right: 24px;
    width: 308px;
    padding-top: 21px;
    }
    .section__1-box-item1 button{
 margin-left: 43px;
 margin-top: 27px;
    }
    .section__1-box-item2{
        padding-left: 30px;
        padding-top: 100px;
    }
    .section__1-box-item2 img{
        width: 250px;
    }
    .section__2{ 
        width: 100%;
        text-align: center;
    }
    .section__2-spans{
      display: block;
      padding-left: 50px;
    }
    .section__2-spans .span1{
     padding-left: 1px;
    }
    .section__2-spans .span2{
   display: none;
    }
    .section__2-box{
        display: flex;
        flex-direction: column;
        gap: 29px;
        padding-left: 11px;
        padding-right: 11px;
    }
    .section__2-box-item1{
        width: 354px;
     height: 266px;
    }
    .section__2-box-item1 h1{
    width: 327px;
    padding-left: 19px;
    }
    .section__2-box-spans{
        padding-left: 25px;
    }
    .section__2-box-item1 p{
    width: 314px;
    font-size: 13px;
    padding-top: 19px;
    line-height: 24px;
    }
    .section__3{
        width: 100%;
    }
    .section__3 h1{
   padding-left: 110px;
    }
    .section__3-items{
        display: block;
        padding-left: 18px;
        padding-top: 10px;
        margin-bottom: 54px;
    }
    .item1 img{
        height: 230px;
        width: 339px;
    }
    .section__3-items-box{
        height: 555px;
        width: 344px;
        display: flex;
        flex-direction: column;
        padding-bottom: 15px;
        border-bottom: 1px solid #E0E0E0;
    }
    .section__3-items-box2{
     display: none;
    }
    .section__3-items-box3{
        display: none;    
    }
    .section__3-items-box h1{
    font-size: 24px;
    padding-left: 8px;
    }
    .section3-spans{
        display: flex;
        padding-left: 68px;
        padding-top: 16px;
        gap: 36px;
    }
    .section__3-items-box p{
        width: 344px;
    padding-left: 15px;
    padding-top: 30px;
    padding-bottom: 20px;
    }
    footer{
        width: 100%;
    }
    .footer-icons{
        padding-top: 50px;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
}
@media (min-width: 447.1px) and (max-width: 769px){
    header{
        width: 100%;
    }
    ul{
        display: block;
    }  
    li{
        display: none;
    }
    header img{
    padding-top: 40px;
    padding-left: 40px;
    }
    .section__1{
        width: 100%;
    }
    .section__1-box{
        display: flex;
        flex-direction: row-reverse;
        padding-top: 200px;
        padding-left: 45px;
        gap: 30px;
    }
    .section__1-box-item1 h1{
    font-size: 28px;
    width: 402px;
    padding-top: 32px;
    padding-left: 23px;
    }
    .section__1-box-item1 p{
    padding-left: 23px;
    padding-right: 24px;
    width: 308px;
    padding-top: 21px;
    }
    .section__1-box-item1 button{
 margin-left: 35px;
 margin-top: 27px;
    }
    .section__1-box-item2{
        padding-left: 30px;
        padding-top: 80px;
    }
    .section__1-box-item2 img{
        width: 300px;
    }
    .section__2{ 
        width: 100%;
        text-align: center;
    }
    .section__2-spans{
      display: block;
      padding-left: 50px;
    }
    .section__2-spans .span1{
     padding-left: 1px;
    }
    .section__2-spans .span2{
   display: none;
    }
    .section__2-box{
        display: flex;
        flex-direction: row;
        gap: 29px;
        padding-left: 11px;
        padding-right: 11px;
    }
    .section__2-box-item1{
        width: 354px;
     height: 266px;
    }
    .section__2-box-item1 h1{
    width: 327px;
    padding-left: 19px;
    }
    .section__2-box-spans{
        padding-left: 25px;
    }
    .section__2-box-item1 p{
    width: 314px;
    font-size: 13px;
    padding-top: 19px;
    line-height: 24px;
    }
    .section__3{
        width: 100%;
    }
    .section__3 h1{
   padding-left: 310px;
    }
    .section__3-items{
        display: block;
        padding-left: 18px;
        padding-top: 10px;
        margin-bottom: 54px;
    }
    .item1 img{
        height: 230px;
        width: 339px;
    }
    .section__3-items-box{
        height: 355px;
        width: 744px;
        display: flex;
        flex-direction: row;
        padding-bottom: 15px;
        border-bottom: 1px solid #E0E0E0;
        gap: 30px;
    }
    .section__3-items-box2{
       display: none;
    }
    .section__3-items-box3{
        display: none;    
    }
    .section__3-items-box h1{
    font-size: 24px;
    padding-left: 8px;
    }
    .section3-spans{
        display: flex;
        padding-left: 68px;
        padding-top: 16px;
        gap: 36px;
    }
    .section__3-items-box p{
        width: 344px;
    padding-left: 15px;
    padding-top: 30px;
    padding-bottom: 20px;
    }
    footer{
        width: 100%;
    }
    .footer-icons{
        padding-top: 50px;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
}

@media (min-width: 769.1px) and (max-width: 990px){
    header{
        width: 100%;
    }
    ul{
        display: block;
    }  
    li{
        display: none;
    }
    header img{
    padding-top: 40px;
    padding-left: 40px;
    }
    .section__1{
        width: 100%;
    }
    .section__1-box{
        display: flex;
        flex-direction: row-reverse;
        padding-top: 200px;
        padding-left: 45px;
        gap: 30px;
    }
    .section__1-box-item1 h1{
    font-size: 28px;
    width: 402px;
    padding-top: 32px;
    padding-left: 23px;
    }
    .section__1-box-item1 p{
    padding-left: 23px;
    padding-right: 24px;
    width: 308px;
    padding-top: 21px;
    font-size: 20px;
    }
    .section__1-box-item1 button{
 margin-left: 35px;
 margin-top: 27px;
    }
    .section__1-box-item2{
        padding-left: 30px;
        padding-top: 80px;
    }
    .section__1-box-item2 img{
        width: 300px;
    }
    .section__2{ 
        width: 100%;
        text-align: center;
    }
    .section__2-spans{
      display: block;
      padding-left: 50px;
    }
    .section__2-spans .span1{
     padding-left: 1px;
    }
    .section__2-spans .span2{
   display: none;
    }
    .section__2-box{
        display: flex;
        flex-direction: row;
        gap: 40px;
        padding-left: 61px;
        padding-right: 21px;
    }
    .section__2-box-item1{
        width: 354px;
     height: 266px;
    }
    .section__2-box-item1 h1{
    width: 327px;
    padding-left: 19px;
    }
    .section__2-box-spans{
        padding-left: 25px;
    }
    .section__2-box-item1 p{
    width: 314px;
    font-size: 13px;
    padding-top: 19px;
    line-height: 24px;
    }
    .section__3{
        width: 100%;
    }
    .section__3 h1{
   padding-left: 370px;
    }
    .section__3-items{
        display: block;
        padding-left: 80px;
        padding-top: 10px;
        margin-bottom: 54px;
    }
    .item1 img{
        height: 230px;
        width: 339px;
    }
    .section__3-items-box{
        height: 355px;
        width: 744px;
        display: flex;
        flex-direction: row;
        padding-bottom: 15px;
        border-bottom: 1px solid #E0E0E0;
        gap: 30px;
    }
    .section__3-items-box2{
       display: none;
    }
    .section__3-items-box3{
        display: none;    
    }
    .section__3-items-box h1{
    font-size: 24px;
    padding-left: 8px;
    }
    .section3-spans{
        display: flex;
        padding-left: 68px;
        padding-top: 16px;
        gap: 36px;
    }
    .section__3-items-box p{
        width: 344px;
    padding-left: 15px;
    padding-top: 30px;
    padding-bottom: 20px;
    }
    footer{
        width: 100%;
    }
    .footer-icons{
        padding-top: 50px;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
}
@media (min-width: 990.1px) and (max-width: 1200px) {
    header{
        width: 100%;
       display: block;
    }
    header img{
        display: none;
    }
    .section__1{
        width: 100%;
    }
    .section__1-box{
        display: flex;
        padding-top: 150px;
        padding-left: 100px;
    }
    .section__1-box-item2{
        padding-left: 105px;
    }
    .section__2{
        width: 100%;
    }
    .section__2-spans{
        display: flex;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 158px;
        gap: 500px;
    }
    .section__2-box{
        display: flex;
        gap: 60px;
        padding-left: 100px;
        padding-right: 258px;
        padding-bottom: 30px;
    }
    .section__3{
        width: 100%;
    }
    .section__3 h1{
    padding-left: 100px;
    }
    .section__3-items{
        padding-left: 100px;
        margin-bottom: 50px;
    }
    .section__3-items-box{
        height: 300px;
    }
    .section__3-items-box2{
    height: 300px;
    }
    .section__3-items-box3{
    height: 300px;
    }
    .section__3-items-box h1{
        font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    color: #21243D;
    padding-left: 18px;
    }
    .section__3-items-box2 h1{
        font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    color: #21243D;
    padding-left: 18px;
    }
    .section__3-items-box3 h1{
        font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    color: #21243D;
    padding-left: 18px;
    }
    .section__3-items-box p{
        width: 594px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
    padding-left: 18px;
    }
    .section__3-items-box2 p{
        width: 594px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
    padding-left: 18px;
    }
    .section__3-items-box3 p{
        width: 594px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
    padding-left: 18px;
    }
    footer{
        width: 100%;
    }
}

@media (min-width: 1200.1px) {
    header{
        display: block;
        }
        header img{
            display: none;
        }
    }